@import url("css reset.css");

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}


@font-face {
  font-family: "redhat";
  src: url("assets/fonts/RedHatText-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "redhat";
  src: url("assets/fonts/RedHatText-Regular.ttf");
}

body {
  background-color: var(--rose-100);
  font-family: "redhat";
  display: grid;
  grid-template-areas: 
    "h1" 
    "items"
    "cart-panel"
    "attribution";
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 1rem;
}

h1 {
  font-family: "redhat";
  font-weight: bold;
  grid-area: h1;
}

#items {
  grid-area: items;
  display: grid;
  gap: 2rem;
}

.img {
  border-radius: 0.5rem;
  cursor: pointer;
}

.img-clicked {
  box-shadow: 0px 0px 0px 2px var(--red);
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 0.7rem;
  background-color: var(--rose-50);
  margin: 0rem auto 0rem auto;
  border: 1px solid var(--rose-500);
  border-radius: 2rem;
  height: 3rem;
  width: 10rem;
  translate: 0rem -1.5rem;
  font-weight:bold;
  transition: border 0.3s, color 0.3s;
  cursor: pointer;
}

.add-to-cart-hover:hover {
  border: 1px solid var(--red);
  color: var(--red);
}

.add-to-cart-clicked {
  background-color: var(--red);
  color: white;
}

.icon-add-to-cart {
  content: url("assets/images/icon-add-to-cart.svg");
}

.icon-decrement-quantity {
  content: url("assets/images/icon-decrement-quantity.svg");
  height: 1.6rem;
  width: 1.6rem;
  padding: 0.3rem;
  border: 1px solid white;
  border-radius: 50%;
  display: none;
  margin-left: 0.7rem;
  margin-right: auto;
  scale: 0.9;
}

.add-to-cart-text-clicked {
  color: white;
}

.icon-increment-quantity {
  content: url("assets/images/icon-increment-quantity.svg");
  height: 1.6rem;
  width: 1.6rem;
  padding: 0.3rem;
  border: 1px solid white;
  border-radius: 50%;
  display: none;
  margin-right: 0.7rem;
  margin-left: auto;
  scale: 0.9;
}


.cart-panel svg {
  margin: auto;
}

.cart-panel h3 {
  color: var(--red);
  margin-bottom: 2rem;
}

#added-items {
  font-size: 0.9rem;
  text-align: center;
  color: var(--rose-500);
  max-height: 40vh;
  overflow:scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: inherit;
  /* background: #f1f1f1;  */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  display: none;
}

#order-total-text {
  color: hsl(12, 20%, 44%);
  font-weight: bold;
}

#order-total-sum-text {
  font-size:x-large;
  font-weight: bolder;
}

#carbon-neutral {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--rose-100);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: none;
}

#confirm-order {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--red);
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  color: white;
  font-weight:bold;
  display: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

#confirm-order:hover {
  background-color: hsl(14, 86%, 30%)
}
/* .add-to-cart:active > .icon-decrement-quantity, .add-to-cart:active > .icon-increment-quantity{
  display:block;
}

.add-to-cart:visited > .icon-add-to-cart {
  display: none;
}  */


/* ------------------------------------------------------------- */



/* ------------------------------------------------------------- */


/* .add-to-cart::before {
  content: url("assets/images/icon-add-to-cart.svg");
  margin-top: 0.4rem;
} */



/* .icon-increment-quantity::after {
  content: url("assets/images/icon-increment-quantity.svg");
  width: 1.4rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: -10rem;
} */

/* .icon-decrement-quantity::before {
  content: url("assets/images/icon-decrement-quantity.svg");
  transform: scaleY(0.8);
  height: 32px;
  width: 23px;
  margin-bottom: 0.4rem;
  margin-left: -10rem;
  border: 1px solid white;
  border-radius: 50%;
} */

/* .icon-decrement-border {
  width: 1.4rem;
  height: 1.6rem;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  margin: -3.7rem 0 0rem 6.4rem;
  display: block;
} */

.category {
  color: var(--rose-300);
  margin-top: -1rem;
}

.name {
  font-weight: 600;
}

.price {
  font-weight: bold;
  color: var(--red);  
}

.cart-panel {
  background-color: var(--rose-50);
  padding: 1rem;
  grid-area: cart-panel;
  border-radius: 1rem;
  height: fit-content;
  position: sticky;
  top: 1rem;
}

#cart-panel h3 {
  color: var(--red);
}

#cart-panel svg {
  margin: auto;
  margin: 2rem auto 1.5rem auto;
}

#cart-panel p {
  text-align: center;
  color: var(--rose-400);
}

.item-row {
  display: grid;
  grid-template-areas: 
    "name-part name-part name-part remove-item"
    "how-many-part unit-price-part total-price-part remove-item"
    "hrEl hrEl hrEl hrEl";
  grid-template-columns: repeat(3, 1fr) 0.5fr;
}

.name-part {
  grid-area: name-part;
  color: black;
  font-weight: bold;
  text-align: left;
}

.how-many-part {
  grid-area: how-many-part;
  color: var(--red);
  font-weight: bold;
  text-align: left;
}

.unit-price-part {
  grid-area: unit-price-part;
  text-align: left;
}

.total-price-part {
  grid-area: total-price-part;
  font-weight: bold;
  text-align: left;
}

.remove-item {
  grid-area: remove-item;
  content: url("assets/images/icon-remove-item.svg");
  align-self: center;
  cursor: pointer;  
  border: 1px solid var(--rose-300);
  border-radius: 50%;
  padding: 0.1rem;
}

.hrEl {
  grid-area: hrEl;
  margin: 0.3rem 0 0.3rem 0;
}

.attribution {
  grid-area: attribution;
}

@media screen and (width > 650px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "h1 h1 h1"
    "items items cart-panel"
    "attribution attribution attribution";
  }
  #items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width > 1023px) {
  body {
    grid-template-columns: repeat(3, 1fr) 1.5fr;
    grid-template-areas: 
    "h1 h1 h1 h1"
    "items items items cart-panel"
    "attribution attribution attribution attribution";
  }
  #items {
    grid-template-columns: repeat(3, 1fr);
  }
}