@import url("css reset.css");

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}


@font-face {
  font-family: "redhat";
  src: url("assets/fonts/RedHatText-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "redhat";
  src: url("assets/fonts/RedHatText-Regular.ttf");
}

body {
  background-color: var(--rose-100);
  font-family: "redhat";
  display: grid;
  grid-template-areas: 
    "h1" 
    "items"
    "cart"
    "attribution";
  gap: 1rem;
  padding: 1rem;
}

h1 {
  font-family: "redhat";
  font-weight: bold;
  grid-area: "h1";
}

#items {
  grid-area: "items";
  display: grid;
  gap: 2rem;
}

.img {
  border-radius: 0.5rem;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  background-color: var(--rose-50);
  margin-left: 5.72rem;
  border: 1px solid var(--rose-500);
  border-radius: 2rem;
  height: 3rem;
  width: 10rem;
  translate: 0rem -1.5rem;
  font-weight:bold;
}

.add-to-cart::before {
  content: url("assets/images/icon-add-to-cart.svg");
  margin-top: 0.4rem;
}

.category {
  color: var(--rose-300);
  margin-top: -1rem;
}

.name {
  font-weight: 600;
}

.price {
  font-weight: bold;
  color: var(--red);  
}

@media screen and (width > 376px) {
  body {
    background-color: brown;
  }  
}